* {

    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    color: #ebebeb;

}

#index-body {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    background-color: #1f2226;
    background: radial-gradient(#2f3338, #1f2226 80%);

}

input {

    display: block;

}

#top-logo {

    height: 50px;
    width: 50px;
    justify-self: end;
    padding: 5vw;

}

#top {

    display: grid;
    grid-template-rows: 1fr 1fr;

}

#middle {

    display: grid;
    justify-content: center;
    align-content: start;
    font-size: 7vh;
    text-align: center;

}

.middle-styled-letter {

    color: #4959A8;
    font-size: 10vh;

}

.middle-styled-letters {

    position: relative;
    right: 15vw;
    opacity: 0;
    animation-name: middle-styled-letters;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;

}

@keyframes middle-styled-letters {

    100% {

        opacity: 1;
        right: 0;

    }

}

#top-web-developer {

    width: 75vw;
    margin: auto;
    grid-row: 2;
    opacity: 0;
    animation-name: middle-web-developer;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 500ms;

}

@keyframes middle-web-developer {

    100% {

        opacity: 1

    }

}

#bottom {

    display: grid;
    justify-content: center;
    align-content: start;

}

#bottom-button {

    width: 30vw;
    height: 6vh;
    background: linear-gradient(-60deg, #4959A8 30%, #8494e3);
    border: none;
    margin-top: 5vh;
    font-size: 4vw;
    box-shadow: 1vw 1vw 0 0 #ebebeb;
    transition: 300ms;
    opacity: 0;
    animation-name: bottom-button;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 500ms;

}

@keyframes bottom-button {

    100% {

        opacity: 1

    }

}

#bottom-button:hover {

    margin-top: 4vh;
    margin-right: 1vw;
    box-shadow: 2vw 2vw 0 0 #ebebeb;

}

#contact-body {

    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 100vh;
    background-color: #1f2226;
    background: radial-gradient(#2f3338, #1f2226 80%);

}

#top-page-name {

    font-size: 7vh;
    text-align: center;

}

#middle-form {

    font-size: 3vh;
    display: grid;

}

#middle-name-label {

    justify-self: start;
    padding-bottom: 1vh;

}

.middle-contact-label {

    justify-self: start;
    padding-top: 4vh;
    padding-bottom: 1vh;

}

.middle-container {

    background: linear-gradient(-60deg, #4959A8 30%, #8494e3);
    padding: 1vw;

}

#middle-name-input {

    outline: none;
    border: 0;
    width: 65vw;
    height: 5vh;
    background-color: #e6eaff;
    
}

#middle-name-email {

    outline: none;
    border: 0;
    width: 65vw;
    height: 5vh;
    background-color: #e6eaff;
    
}

#middle-name-message {

    outline: none;
    border: 0;
    width: 65vw;
    height: 5vh;
    background-color: #e6eaff;
    padding-bottom: 10vh;
    
}