/*

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Styles common to multiple pages.
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    color: #ebebeb;
}

html {
    height: fit-content;
}

body {
    min-height: 100%;
}

.break {
    background-color: #4959a8;
    opacity: 0.7;
    width: 65vw;
    height: 1px;
    margin: auto;
    margin-bottom: 5vh;
    background: linear-gradient(-60deg, #4959a8 30%, #8494e3);
}

#top {
    display: grid;
    grid-template-areas: 'top-burger-container top-logo-container' 'top-page-name top-page-name';
    transition: 500ms;
}

#top-logo {
    height: 50px;
    width: 50px;
    position: relative;
    left: 15vw;
    opacity: 0;
    animation-name: top-logo;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;
}

@keyframes top-logo {
    100% {
        opacity: 1;
        left: 0;
    }
}

#top-logo-container {
    max-height: 50px;
    max-width: 55px;
    justify-self: end;
    padding: 8vw;
    grid-area: top-logo-container;
    position: relative;
}

#top-burger {
    height: 50px;
    width: 50px;
    position: relative;
    right: 15vw;
    opacity: 0;
    animation-name: top-burger;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;
}

@keyframes top-burger {
    100% {
        opacity: 1;
        right: 0;
    }
}

#top-burger-container {
    max-height: 50px;
    max-width: 55px;
    justify-self: start;
    padding: 8vw;
    grid-area: top-burger-container;
    z-index: 5;
    position: relative;
    left: 0;
}

#top-page-name {
    max-width: 90vw;
    margin: 0 auto;
    font-size: 7vh;
    text-align: center;
    opacity: 0;
    color: #e6eaff;
    padding-top: 4vh;
    font-weight: bold;
    grid-area: top-page-name;
    animation-name: top-page-name;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

@keyframes top-page-name {
    100% {
        opacity: 1;
    }
}

#drawer {
    background-color: white;
    position: absolute;
    display: none;
    opacity: 0;
    height: 100%;
    width: 90vw;
    border-radius: 0 10vw 10vw 0;
    z-index: 4;
    right: 80vw;
}

#drawer-container {
    margin: 14vh 0 0 12vw;
    width: fit-content;
}

.drawer-container-link {
    display: block;
    color: #30302e;
    font-size: 10vw;
    margin-bottom: 1vh;
    text-decoration: none;
    font-weight: bold;
}

.drawer-container-link:active {
    color: #4959a8;
}

#cover {
    height: 100%;
    width: 100%;
    background-color: black;
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 3;
    transition: 200ms;
}

.middle-label {
    font-size: 2.2vh;
    color: #4959a8;
    padding-bottom: 2vw;
    font-weight: bold;
    position: relative;
    right: 15vw;
    opacity: 0;
    animation-name: middle-label;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;
}

@keyframes middle-label {
    100% {
        opacity: 1;
        right: 0;
    }
}

.buttonShadow {
    width: 30vw;
    height: 6vh;
    background-color: #ebebeb;
    margin-top: 5vh;
    position: relative;
    background-color: #ebebeb;
    transition: 300ms;
    opacity: 0;
    animation-name: button-shadow;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

@keyframes button-shadow {
    100% {
        opacity: 1;
    }
}

.buttonShadow-button {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(-60deg, #4959a8 30%, #8494e3);
    border: none;
    right: 1vw;
    bottom: 1vw;
    padding: 1.5vw;
    box-sizing: border-box;
    font-size: 4vw;
    transition: 100ms;
}


/*

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Styles for 'index.html'
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

#index-body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    background: radial-gradient(#2f3338, #1f2226 80%);
}

input {
    display: block;
}

#index-middle {
    display: grid;
    column-gap: 10px;
    justify-content: center;
    align-content: start;
    font-size: 7vh;
    text-align: center;
    align-self: center;
}

.index-middle-styled-letter {
    color: #4959a8;
    font-size: 10vh;
}

.index-middle-styled-letters {
    position: relative;
    right: 15vw;
    opacity: 0;
    animation-name: index-middle-styled-letters;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;
}

@keyframes index-middle-styled-letters {
    100% {
        opacity: 1;
        right: 3vw;
    }
}

#index-top {
    display: grid;
    grid-template-areas: 'index-top-burger-container index-top-logo-container' 'index-top-web-developer index-top-web-developer';
}

#index-top-logo-container {
    justify-self: end;
    padding: 8vw;
    grid-area: index-top-logo-container;
}

#index-top-burger-container {
    max-height: 50px;
    max-width: 55px;
    justify-self: start;
    padding: 8vw;
    grid-area: index-top-burger-container;
    z-index: 5;
    position: relative;
    left: 0;
}

#index-top-logo {
    height: 50px;
    width: 50px;
    position: relative;
    left: 15vw;
    opacity: 0;
    animation-name: index-top-logo;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;
}

@keyframes index-top-logo {
    100% {
        opacity: 1;
        left: 0;
    }
}

#index-top-web-developer {
    width: 75vw;
    margin: auto;
    opacity: 0;
    grid-area: index-top-web-developer;
    animation-name: index-top-web-developer;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

@keyframes index-top-web-developer {
    100% {
        opacity: 1;
    }
}

#index-bottom {
    display: grid;
    justify-content: center;
    align-content: start;
    align-self: start;
}


/*

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Styles for 'contact.html'
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

#contact-middle {
    width: 100%;
    display: grid;
    justify-content: center;
    font-size: 7vh;
    margin-top: 5vh;
}

#contact-body {
    height: 100%;
    background: radial-gradient(#2f3338, #1f2226 80%);
    width: 100%;
}

#contact-middle-form {
    font-size: 3vh;
    display: grid;
    justify-items: center;
}

#contact-middle-name-label {
    font-size: 2.2vh;
    color: #4959a8;
    padding-bottom: 2vw;
    font-weight: bold;
    justify-self: start;
    position: relative;
    right: 15vw;
    opacity: 0;
    animation-name: contact-middle-name-label;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;
}

@keyframes contact-middle-name-label {
    100% {
        opacity: 1;
        right: 0;
    }
}

.contact-middle-contact-label {
    font-size: 2.2vh;
    color: #4959a8;
    padding-bottom: 2vw;
    font-weight: bold;
    justify-self: start;
    padding-top: 4vh;
    position: relative;
    right: 15vw;
    opacity: 0;
    animation-name: contact-middle-contact-label;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;
}

@keyframes contact-middle-contact-label {
    100% {
        opacity: 1;
        right: 0;
    }
}

.contact-middle-container {
    background: linear-gradient(-60deg, #4959a8 30%, #8494e3);
    padding: 1.5vw;
    display: grid;
}

#contact-middle-name-input {
    outline: none;
    border: 0;
    width: 65vw;
    height: 3vh;
    background-color: #e6eaff;
    color: #1f2226;
    font-weight: bold;
    padding: 3vw;
    font-size: 1.7vh;
}

#contact-middle-email-input {
    outline: none;
    border: 0;
    width: 65vw;
    height: 3vh;
    background-color: #e6eaff;
    color: #1f2226;
    font-weight: bold;
    padding: 3vw;
    font-size: 1.7vh;
}

#contact-middle-message-area {
    outline: none;
    border: 0;
    width: 65vw;
    height: 12vh;
    background-color: #e6eaff;
    color: #1f2226;
    font-weight: bold;
    padding: 3vw;
    resize: none;
    font-size: 1.7vh;
}


/*

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Styles for 'about.html'
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

#about-body {
    height: 100%;
    background: radial-gradient(#2f3338, #1f2226 80%);
    width: 100%;
}

#about-middle {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 5vh auto 0 auto;
}

.about-middle-paragraph {
    width: 75vw;
    line-height: 3vh;
    letter-spacing: 0.1vw;
    font-size: 1.8vh;
    font-weight: bold;
    margin-bottom: 5vh;
}

#about-middle-picture {
    width: 65vw;
}

#about-middle-picture-container {
    display: grid;
    background: linear-gradient(-60deg, #4959a8 30%, #8494e3);
    padding: 1.5vw;
    margin-bottom: 5vh;
    width: fit-content;
    justify-self: center;
    opacity: 0;
    animation-name: about-middle-picture-container;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

@keyframes about-middle-picture-container {
    100% {
        opacity: 1;
    }
}


/*

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Styles for 'skills.html'
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

#skills-body {
    height: 100%;
    background: radial-gradient(#2f3338, #1f2226 80%);
    width: 100%;
}

#skills-middle {
    width: 100%;
    margin-top: 5vh;
}

.skills-middle-container-label {
    font-size: 2.8vh;
    color: #4959a8;
    font-weight: bold;
    position: relative;
    right: 15vw;
    opacity: 0;
    transform: rotate(-90deg);
    display: block;
    align-self: center;
    text-align: center;
    grid-area: skills-middle-container-label;
    animation-name: skills-middle-container-label;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;
}

@keyframes skills-middle-container-label {
    100% {
        opacity: 1;
        right: 0;
    }
}

.skills-middle-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas: 'skills-middle-container-label skills-middle-container-skill';
    margin-bottom: 5vh;
}

.skills-middle-container-background {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    grid-area: skills-middle-container-skill;
    background: linear-gradient(-60deg, #4959a8 30%, #8494e3);
    padding: 1.5vw;
}

.skills-middle-container-background-skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 50%;
    height: 50vw;
    width: 50vw;
    overflow: hidden;
    position: relative;
}

.skills-middle-container-background-skill-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    transition: 500ms;
}

.skills-middle-container-background-skill-spinnerLeft {
    background-color: #ffb561;
    transform-origin: right;
}

.skills-middle-container-background-skill-spinnerRight {
    background-color: #ffb561;
    transform-origin: left;
    transition-timing-function: ease-out;
    z-index: 1;
}

.skills-middle-container-background-skill-spinnerCover {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 50%;
    z-index: 0;
}

.skills-middle-container-background-skill-percentage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    color: white;
    z-index: 3;
    font-size: 10vw;
    font-weight: bold;
    opacity: 0;
    transition: 500ms;
}


/*

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Styles for 'projects.html'
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

#projects-body {
    height: 100%;
    background: radial-gradient(#2f3338, #1f2226 80%);
    width: 100%;
}

#projects-middle {
    margin-top: 5vh;
}

.projects-middle-shadow {
    width: 75vw;
    height: 22vh;
    margin: 0 auto 5vh auto;
    position: relative;
    background-color: #ebebeb;
    transition: 500ms;
    left: 0;
}

.projects-middle-shadow-background {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    background: linear-gradient(-60deg, #4959a8 30%, #8494e3);
    padding: 1.5vw;
    box-sizing: border-box;
    transition: 100ms;
}

.projects-middle-shadow-background-container {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.projects-middle-shadow-background-container-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 0;
}

.projects-middle-shadow-background-container-textHolder {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    z-index: 1;
}

.projects-middle-shadow-background-container-textHolder-name {
    text-align: center;
    font-size: 6.5vw;
    font-weight: bold;
}

.projects-middle-shadow-background-container-textHolder-date {
    text-align: center;
    font-size: 3.5vw;
}

.projects-middle-shadow-background-projectContainer {
    display: none;
}