/*

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Styles common to multiple pages.
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/
* {

    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    color: #ebebeb;

}

html {

    height: fit-content;

}

body {

    min-height: 100%;

}

.break {

    background-color: #4959A8;
    opacity: .7;
    width: 65vw;
    height: 1px;
    margin: auto;
    margin-bottom: 5vh;
    background: linear-gradient(-60deg, #4959A8 30%, #8494e3);

}

#top {

    display: grid;
    grid-template-areas: "top-burger-container top-logo-container"
                         "top-page-name top-page-name";

}

#top-logo {

    height: 50px;
    width: 50px;
    position: relative;
    left: 15vw;
    opacity: 0;
    animation-name: top-logo;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;

}

@keyframes top-logo {

    100% {

        opacity: 1;
        left: 0;

    }

}

#top-logo-container {

    justify-self: end;
    padding: 8vw;
    grid-area: top-logo-container;
    position: relative;

}

#top-burger {

    height: 50px;
    width: 50px;
    position: relative;
    right: 15vw;
    opacity: 0;
    z-index: 3;
    animation-name: top-burger;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;

}

@keyframes top-burger {

    100% {

        opacity: 1;
        right: 0;

    }

}

#top-burger-container {

    justify-self: start;
    padding: 8vw;
    grid-area: top-burger-container;
    z-index: 3;
    position: relative;
    left: 0;

}

#top-page-name {

    font-size: 7vh;
    text-align: center;
    opacity: 0;
    color: #e6eaff;
    padding-top: 4vh;
    font-weight: bold;
    grid-area: top-page-name;
    animation-name: top-page-name;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 500ms;

}

@keyframes top-page-name {

    100% {

        opacity: 1;

    }

}

#drawer {

    background-color: white;
    position: absolute;
    display: none;
    opacity: 0;
    height: 100%;
    width: 90vw;
    border-radius: 0 10vw 10vw 0;
    z-index: 2;
    right: 80vw;

}

#cover {

    height: 100%;
    width: 100%;
    background-color: black;
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 1;

}

/*

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Styles for 'index.html'
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/
#index-body {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    background: radial-gradient(#2f3338, #1f2226 80%);

}

input {

    display: block;

}

#index-middle {

    display: grid;
    justify-content: center;
    align-content: start;
    font-size: 7vh;
    text-align: center;
    align-self: center;

}

.index-middle-styled-letter {

    color: #4959A8;
    font-size: 10vh;

}

.index-middle-styled-letters {

    position: relative;
    right: 15vw;
    opacity: 0;
    animation-name: index-middle-styled-letters;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;

}

@keyframes index-middle-styled-letters {

    100% {

        opacity: 1;
        right: 0;

    }

}

#index-top {

    display: grid;
    grid-template-areas: "index-top-burger-container index-top-logo-container"
                         "index-top-web-developer index-top-web-developer";

}

#index-top-logo-container {

    justify-self: end;
    padding: 8vw;
    grid-area: index-top-logo-container;

}

#index-top-burger-container {

    justify-self: start;
    padding: 8vw;
    grid-area: index-top-burger-container;

}

#index-top-logo {

    height: 50px;
    width: 50px;
    position: relative;
    left: 15vw;
    opacity: 0;
    animation-name: index-top-logo;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;

}

@keyframes index-top-logo {

    100% {

        opacity: 1;
        left: 0;

    }

}

#index-top-web-developer {

    width: 75vw;
    margin: auto;
    opacity: 0;
    grid-area: index-top-web-developer;
    animation-name: index-top-web-developer;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 500ms;

}

@keyframes index-top-web-developer {

    100% {

        opacity: 1;

    }

}

#index-bottom {

    display: grid;
    justify-content: center;
    align-content: start;
    align-self: start;

}

#index-bottom-button {

    width: 30vw;
    height: 6vh;
    background: linear-gradient(-60deg, #4959A8 30%, #8494e3);
    border: none;
    margin-top: 5vh;
    font-size: 4vw;
    box-shadow: 1vw 1vw 0 0 #ebebeb;
    transition: 300ms;
    opacity: 0;
    animation-name: bottom-button;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 500ms;

}

@keyframes bottom-button {

    100% {

        opacity: 1;

    }

}

#index-bottom-button:hover {

    margin-top: 4vh;
    margin-right: 1vw;
    box-shadow: 2vw 2vw 0 0 #ebebeb;

}

/*

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Styles for 'contact.html'
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

#contact-middle {

    display: grid;
    justify-content: center;
    font-size: 7vh;
    margin-top: 5vh;

}

#contact-body {

    background: radial-gradient(#2f3338, #1f2226 80%);

}

#contact-middle-form {

    font-size: 3vh;
    display: grid;

}

#contact-middle-name-label {

    font-size: 2.2vh;
    color: #4959A8;
    padding-bottom: 2vw;
    font-weight: bold;
    justify-self: start;
    position: relative;
    right: 15vw;
    opacity: 0;
    animation-name: contact-middle-name-label;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;

}

@keyframes contact-middle-name-label {

    100% {

        opacity: 1;
        right: 0;

    }

}

.contact-middle-contact-label {

    font-size: 2.2vh;
    color: #4959A8;
    padding-bottom: 2vw;
    font-weight: bold;
    justify-self: start;
    padding-top: 4vh;
    position: relative;
    right: 15vw;
    opacity: 0;
    animation-name: contact-middle-contact-label;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;

}

@keyframes contact-middle-contact-label {

    100% {

        opacity: 1;
        right: 0;

    }

}

.contact-middle-container {

    background: linear-gradient(-60deg, #4959A8 30%, #8494e3);
    padding: 1.5vw;
    display: grid;

}

#contact-middle-name-input {

    outline: none;
    border: 0;
    width: 65vw;
    height: 3vh;
    background-color: #e6eaff;
    color: #1f2226;
    font-weight: bold;
    padding: 3vw;
    font-size: 1.7vh;
    
}

#contact-middle-email-input {

    outline: none;
    border: 0;
    width: 65vw;
    height: 3vh;
    background-color: #e6eaff;
    color: #1f2226;
    font-weight: bold;
    padding: 3vw;
    font-size: 1.7vh;
    
}

#contact-middle-message-area {

    outline: none;
    border: 0;
    width: 65vw;
    height: 12vh;
    background-color: #e6eaff;
    color: #1f2226;
    font-weight: bold;
    padding: 3vw;
    resize: none;
    font-size: 1.7vh;

    
}

#contact-middle-submit-button {

    width: 30vw;
    height: 6vh;
    background: linear-gradient(-60deg, #4959A8 30%, #8494e3);
    border: none;
    font-size: 4vw;
    box-shadow: 1vw 1vw 0 0 #ebebeb;
    transition: 300ms;
    opacity: 0;
    justify-self: center;
    margin: 5vh;
    animation-name: contact-middle-submit-button;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 500ms;

}

@keyframes contact-middle-submit-button {

    100% {

        opacity: 1;

    }

}

#contact-middle-submit-button:hover {

    margin-top: 3vh;
    margin-right: 1vw;
    box-shadow: 2vw 2vw 0 0 #ebebeb;

}

/*

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Styles for 'about.html'
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

#about-body {

    height: 100%;
    background: radial-gradient(#2f3338, #1f2226 80%);

}

#about-middle {

    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;

}

.about-middle-label {

    font-size: 2.2vh;
    color: #4959A8;
    padding-bottom: 2vw;
    font-weight: bold;
    position: relative;
    right: 15vw;
    opacity: 0;
    animation-name: about-middle-label;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 800ms;

}

@keyframes about-middle-label {

    100% {

        opacity: 1;
        right: 0;

    }

}

.about-middle-paragraph {

    width: 75vw;
    line-height: 3vh;
    letter-spacing: .1vw;
    font-size: 1.8vh;
    font-weight: bold;
    margin-bottom: 5vh;

}

#about-middle-picture {

    width: 65vw;

}

#about-middle-picture-container {

    display: grid;
    background: linear-gradient(-60deg, #4959A8 30%, #8494e3);
    padding: 1.5vw;
    margin-bottom: 5vh;
    width: fit-content;
    justify-self: center;
    box-shadow: 1.3vw 1.3vw 0 0 #ebebeb;
    opacity: 0;
    animation-name: about-middle-picture-container;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 500ms;

}

@keyframes about-middle-picture-container {

    100% {

        opacity: 1;

    }

}

/*

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Styles for 'skills.html'
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/
#skills-middle {

    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;

}